 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* GRID */
.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
}
/* HEADER */
.header {
  background: transparent;
  padding: 2rem;
  position: relative;
  /* while scrolling, hindi makakasama ang header */
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header_nav ul.nav {
  display: flex;
  gap: 2rem;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav ul.nav li a {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 600;
}
.header_nav ul.nav li:hover a {
  color: var(--primary);
}
.header_nav ul.nav li:last-child a {
  background: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  border: 2px solid var(--light);
  transition: 0.5s ease;
}
.header_nav ul.nav li:last-child:hover a {
  background: var(--light);
  transition: 0.5s ease;
}
.header_nav img {
  display: none;
}
.header_nav ul.social {
  display: none;
}
.burgir_menu {
  display: none;
  /* para magshow ang burgir menu for bring to front or back */
  z-index: 999;
}
/* para sa katawan */
.burgir_menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--light);
  /* Magkapatong while display flex ay magkatabi */
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.burgir_menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.burgir_menu.open span:first-child {
  transform: translate(0, 10px) rotate(225deg);
  transition: 0.5s ease;
}
.burgir_menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.burgir_menu.open span:last-child {
  transform: translate(0, -7px) rotate(-225deg);
  transition: 0.5s ease;
}
/* added code for activity "para lumabas ang header_nav*/
.header_nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
/* HEADER MOBILE */
@media screen and (max-width: 500px) {
  .header_nav {
    background: pink;
    /* nakalutang sa buong page or body */
    position: absolute;
    /* giving coordinates or placement */
    /* distance of header nav */
    top: 0rem;
    /* direction,width and height of background */
    /* vh and vw-sakop ang buong browser */
    right: -100rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    /* paglalagay sa pinakang center ng website, para nasa center pa rin kahit nagzoom */
    display: flex;
    /* para mapunta sa taas ang pic */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }
  /* for space of navigation, pag-aayos ng navigation pababa */
  .header_nav ul.nav {
    display: flex;
    flex-direction: column;
  }
  /* para lumabas ang icons */
  .header_nav ul.social {
    display: flex;
    gap: 2rem;
    /* para bumaba ang icons */
    transform: translateY(3rem);
  }
  .header_nav ul.social li a {
    color: var(--light);
    font-size: 3rem;
    /* because considered as text */
  }
  .header_nav img {
    display: block;
    transform: translateY(-3rem);
  }
  .burgir_menu {
    display: block;
  }
  .burgir_menu span {
    display: block;
  }
}
/* BANNER */
.banner {
  background-image: url("/img/banner_home_v1.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center center;
  /* fixed faq */
  position: relative;
  /* for h1 and p */
  display: flex;
  align-items: center;
}
/* for bg */
.banner_faq {
  background: var(--light);
  width: fit-content;
  /* lapad ng bg */
  padding: 2.5rem 4rem;
  /* faq left radius */
  border-top-left-radius: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* arrow and faq spacing */
.banner_faq a {
  display: flex;
  align-item: center;
  gap: 2rem;
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 600;
}
.banner_faq:hover a {
  color: var(--primary);
}
/* pagbalik ng arrow */
.banner_faq a i {
  transition: 0.5s ease;
}

/* paggalaw ng arrow */
.banner_faq:hover i {
  /* kasi x-axis */
  transform: translateX(1rem);
  transition: 0.5s ease;
}
/* showing icons */
.banner_text ul.social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.banner_text ul.social li a {
  color: var(--light);
  font-size: 3rem;
}
/* pagsasama ng h1 at p  */
.banner_text {
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.banner_text h1 {
  font-size: 5rem;
  color: var(--light);
  font-weight: 600;
}
.banner_text p {
  color: var(--light);
  font-size: 2rem;
}
.banner_text ul.dutdot {
  display: flex;
  gap: 3rem;
}
/* OFFER */
.offer{
  max-width: 500rem;
  margin: 0 auto;
  padding: 1.5rem;
  height:70vh;
}
.offer_text{
  max-width:30vw;
  display:flex;
  flex-direction:column;
  gap:2rem;
  transition: 0.5s ease;

}
.offer_text h2{
  font-size:5rem;
  color: var(--primary);
  font-weight:600;
}
.offer_text p{
  color:var(--dark);
  font-size:1.5rem;
  font-weight:500;
}
.offer_text a{
  background:var(--primary);
  position:relative
  display:inline-block;
  padding:1rem 2rem;
  align-item: center;
  gap:5rem;
  color: var(--light);
  border-radius:5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid transparent;
  width:fit-content;
}
.offer_text:hover a {
  /* zooming of button */
  scale: 1.1;
  transition: 0.5s ease;
}
/* .offer_price{
  text-align:column;
  width: fit-content;
  padding: 2.5rem 4rem;
  position:absolute;
  right: 0;
}
.offer_price h3{
  display:block;
  color:yellow;
  font-size:4rem;
}
.offer_price_bot h4{
  display:block;
  color:blue;
  font-size:4rem;
}
.offer_price_bot h3{
  display:block;
  color:yellow;
  font-size:3rem;
}
.offer_cents h4{
  display:block;
  color:blue;
  font-size:14rem;
}
.offer_cents h2{
  display:block;
  color:blue;
  font-size:8rem
} */
/* OFFER MOBILE */
@media screen and (max-width: 500px) {
  .offer_text{
    max-width:100vw;
  }
  .offer_text h2 {
    font-size: 4rem;
    text-align: center;
  }
  .offer_text p {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .offer_text a {
    align-text:center;
    margin:0 auto;
}
}
/* pagcecenter ng lahat ng elements sa mobile */
@media screen and (max-width: 500px) {
  .banner_text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .banner_text p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  /* proper alignment of buttons */
  .banner_text ul.dutdot {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* pagpapantay ng width ng bg */
  .banner_text ul.dutdot li a {
    width: 80%;
  }
  /* pagcecenter ng social */
  .banner_text ul.social {
    justify-content: center;
  }
  .banner_faq {
    width: 90%;
    border-top-left-radius: 0rem;
  }
  .banner_faq a {
    justify-content: center;
  }
}
/* HOW */
.how{
  background:var(--primary);
}
.how_wrapper{
  display:grid;
  /* columnfr=% 1fr=25% available space*/
  grid-template-columns:2fr 2fr;
  min-height:500px;

}
.how_ate{
  background-image:url("img/different_img.jpg");
  /* can be cover(pic as background will scope all the available space), contain(different of cover) and auto */
  background-size:cover;
  background-position:center center;
  height:100%;
}
.how_text{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap:2rem;
  max-width:75rem;
  margin:0 auto;
}
.how_text h2{
  color:var(--light);
  font-size:4rem;
  font-weight:600;
}
.how_text p{
  color:var(--light);
}
/* HOW MOBILE */
@media screen and (max-width:500px){
  .how_ate{
      display:none;
  }
  .how_wrapper{
      display:grid;
      grid-template-columns: 2fr;
      min-height:500px;
  }
  .how_text h2{
  font-size:3rem;
  font-weight:1000;
  margin:0 auto;
  }
  .how_text p{
  text-align:justify;
  font-weight:550;
  margin:1rem;
  }
  .how_text a{
      width:100%;
  }
}

/* RECOMMENDED */
.rec{
  max-width: 500rem;
  margin: 0 auto;
  padding: 1.5rem;
  height:30vh;
}
.rec_wrapper {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  max-width:100%;
  margin:12rem;
  gap:1.5rem;
}
.rec_text{
  max-width:100vw;
  display:flex;
  flex-direction:column;
  gap:2rem;
  transition: 0.5s ease;
  margin:0 auto;
  align-text:center;
  justify-content:center;
}
.rec_text h2{
  font-size:3rem;
  color: var(--primary);
  font-weight:600;
  margin:0 auto;
}
.rec_text p{
  text-align:justify;
  font-weight:550;
  margin:1rem;
}
.rec_text a{
  background:var(--primary);
  position:relative
  display:inline-block;
  padding:1rem 2rem;
  align-item: center;
  gap:5rem;
  color: var(--light);
  border-radius:5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid transparent;
  width:fit-content;
  margin:
}
.rec_text:hover a {
  /* zooming of button */
  scale: 1.1;
  transition: 0.5s ease;
}
/* FOOTER */
.foot{
  background:var(--primary);
  ax-width: 500rem;
  margin: 0 auto;
  padding: 1.5rem;
  height:20vh;
color:var(--light);

}
.foot_wrapper {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  max-width:100%;
  margin:12rem;
  gap:1.5rem;
}


/* REPEATABLE PATTERNS */
:root {
  --light: #ffffff;
  --dark: #2b2b2b;
  --primary: #134a8c;
}
.btn {
  /* power to manipulate freely the width and heigt ,manually edit */
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
  text-align: center;
}
.btn:hover {
  /* zooming of button */
  scale: 1.1;
  transition: 0.5s ease;
}
/* bg */
.btn.bg--primary {
  background: var(--primary);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 600;
}
.btn.bg--light {
  background: var(--light);
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
}
